<!-- Source: https://reference.langchain.com/python/langchain-classic/smith/evaluation/runner_utils/TestResult -->

Classv1.2.13 (latest)●Since v1.0

# TestResult

A dictionary of the results of a single test run.


```
TestResult()
```

## Bases

`dict`

## Methods

[method

get\_aggregate\_feedback

Return quantiles for the feedback scores.

This method calculates and prints the quantiles for the feedback scores
across all feedback keys.](/python/langchain-classic/smith/evaluation/runner_utils/TestResult/get_aggregate_feedback)[method

to\_dataframe

Convert the results to a dataframe.](/python/langchain-classic/smith/evaluation/runner_utils/TestResult/to_dataframe)


